@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$main-color-button: white;


// // // // // // // // // // ----- COLORS -----

// Shades of blue
$color-intense-blue: #020072;

// Shades of green
$color-intense-green: rgb(85, 207, 91);
$color-pale-green: rgb(187, 232, 211);

// Shades of grey
$color-more-intense-grey: #5e5e5e;
$color-intense-grey: #838282;
$color-pale-grey: #d6d6d6;


// Active Button Top NavBar + Background
$active-top-navbar: rgba(255, 255, 255, 0.404);


// Page Index - Home
$body-text: white;


// // // // // // // // // // ----- FONTS -----

// Titles
$titles-fonts: 'Orbitron', sans-serif;

// Text
$texts-fonts: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;