@import "../../sass/abstracts/variables.scss";
@import "../../sass/abstracts/mixins.scss";

.container,
.innerContainer {
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 75%;

  display: flex;

  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;

  transition: $default-transition;
}

.container {
  align-items: flex-start;
  gap: 1rem;

  padding: 2rem 6rem;
  background-color: #999999;

  box-shadow: inset 0rem 0rem 0.4rem 1.44rem rgba(255, 255, 255, 0.3),
    inset 0rem 0rem 0.4rem 0.4rem rgba(255, 255, 255, 0.7);

  z-index: 3;
  margin-top: auto;
}

.titleFieldset,
.tagFieldset {
  padding: 1rem;
}

.tagFieldset {
  display: flex;
  gap: 1.5rem;

  width: 100%;
  border-bottom-right-radius: 20%;

  & .tagsContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;

    max-height: 7rem;
    overflow: auto;
  }
}

.titleLegend,
.tagLegend {
  font-size: 1.3rem;
}

.searchInput {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 30rem;
}

.selectInput {
  border-radius: 1rem;
  min-width: 10rem;
  padding: 0.5rem;
}

//////////////////////////////////
// ACTIVATION FILTERS PANEL BUTTON

.FiltersPanelCheckbox {
  display: none;
  &:checked ~ .container {
    transform: translateY(-100%);

    & .FiltersPanelButton::after {
      content: "FILTERS";
      display: block;
    }
  }
}

.FiltersPanelButton {
  display: block;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1.6rem;
  color: white;
  background-color: red;
  border-radius: 0 0 1rem 1rem;
  z-index: 2;

  &::after {
    content: "FILTERS";
    display: block;
    transition: $default-transition;
  }
}

.blackSail {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
