@import "@/sass/abstracts/variables.scss";
@import "@/sass/abstracts/mixins.scss";

.container,
.innerContainer {
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 75%;

  display: flex;

  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;

  transition: $default-transition, z-index 0.5s 0.5s;
}

.container {
  align-items: flex-start;
  gap: 1rem;

  transform: translateY(-100%);

  padding: 2rem 6rem;
  background-color: #999999;

  box-shadow: inset 0rem 0rem 0.4rem 1.44rem rgba(255, 255, 255, 0.3),
    inset 0rem 0rem 0.4rem 0.4rem rgba(255, 255, 255, 0.7);

  z-index: 3;
  margin-top: auto;
}

.showFiltersBar {
  transform: translateY(0%);
}

.titleFieldset,
.tagFieldset {
  padding: 1rem;
}

.tagFieldset {
  display: flex;
  gap: 1.5rem;

  width: 100%;
  border-bottom-right-radius: 20%;

  & .tagsContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;

    max-height: 7rem;
    overflow: auto;
  }
}

.titleLegend,
.tagLegend {
  font-size: 1.3rem;
}

.searchInput {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 30rem;
}

.selectInput {
  border-radius: 1rem;
  min-width: 10rem;
  padding: 0.5rem;
}

//////////////////////////////////
// SEARCH BY TEXT

.searchRadioButtons {
  display: flex;
  margin: 0.5rem 0.5rem 0;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.radioButton {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-family: $texts-fonts;
  font-size: 1.2rem;
}

//////////////////////////////////
// ACTIVATION FILTERS PANEL BUTTON

.FiltersPanelButton {
  background-color: red;
  border-radius: 0 0 1rem 1rem;
  border: none;
  bottom: -20%;
  color: white;
  cursor: pointer;
  display: block;
  font-family: $titles-fonts;
  font-size: 1.6rem;
  left: 50%;
  padding: 0.8rem;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}
