@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

$main-color-button: white;

$default-transition: all 0.5s ease-out;
$quick-transition: all 0.2s ease-out;

// // // // // // // // // // ----- COLORS -----

// Shades of blue
$color-intense-blue: #020072;

// Shades of green
$color-intense-green: rgb(85, 207, 91);
$color-pale-green: rgb(187, 232, 211);

// Shades of red
$color-intense-red: rgb(243, 0, 53);
$color-pale-red: rgb(238, 171, 185);

// Shades of grey
$color-more-intense-grey: #5e5e5e;
$color-intense-grey: #838282;
$color-pale-grey: #d6d6d6;

// Active Button Top NavBar + Background
$active-top-navbar: rgba(255, 255, 255, 0.404);

// Page Index - Home
$body-text: white;

// // // // // // // // // // ----- FONTS -----

// Titles
$titles-fonts: "Orbitron", sans-serif;

// Text
$texts-fonts: Verdana, Geneva, Tahoma, sans-serif;

// // // // // // // // // // ----- THEMES -----
// ----------- PROJECT: Tatto Parlor

// Font-Size
$TP_default-font-size: 1.4rem;

// Font-Color
$TP_font-grey: #333;
$TP_font-grey-dark: #333;

$TP_color-primary: #4a148c;
$TP_color-primary-light: #7c43bd;
$TP_color-primary-lighter: #c158dc;
$TP_color-primary-dark: #12005e;

$TP_color-secondary-light: #f05545;
$TP_color-secondary-dark: #7f0000;

$TP_color-tertiary-light: #777;
$TP_color-tertiary-dark: #333;

$TP_color-green: #00ac00;

$TP_color-pale-grey: #f7f7f7;
$TP_color-pale-grey-2: #eee;
$TP_color-pale-grey-3: #ccc;

$TP_color-grey-dark: #777;
$TP_color-grey-dark-2: #999;
$TP_color-grey-dark-3: #333;
$TP_color-grey-dark-4: #444;

// ----------- PROJECT: Legal Hub
$LH_color-primary: #cc9400;
$LH_color-primary-light: #fc4;
$LH_color-primary-dark: #886300;
$LH_color-secondary: #eb2f64;
$LH_color-secondary-light: #ff3366;
$LH_color-secondary-dark: #ba265d;
$LH_color-grey-light-1: #faf9f9;
$LH_color-grey-light-2: #f4f2f2;
$LH_color-grey-light-3: #f0eeee;
$LH_color-grey-light-4: #ccc;
$LH_color-grey-dark-1: #333;
$LH_color-grey-dark-2: #777;
$LH_color-grey-dark-3: #999;
$LH_shadow-color: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$LH_shadow-color-light: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
$LH_line: 1px solid $LH_color-grey-light-3;

// ----------- LAB: Breakout Game
$BG_rules-sidebar-background: #333;
$BG_text: #faf9f9;

// ----------- LAB: Custom Video Player
$CVP_grey: #bbb;

// ----------- LAB: Custom Music Player
$CMP_main: #949494;
$CMP_main-dark: #1f1f1f;

$CMP_secondary: #f7c00b;

// ----------- LAB: Real Time Search
$RTS_main: #e3e3e3;
$RTS_main-light: #f2f2f2;
$RTS_main-dark: #8b8b8b;
$RTS_main-dark2: #4d4d4d;
