@import '../../../../sass/abstracts/variables.scss';
@import '../../../../sass/abstracts/mixins.scss';

.header {
  height: 6rem;
  background-color: #fff;
  border-bottom: $LH_line;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem; // Se le da a "header" esta propiedad relacionada con fuentes para que su valor sea heredado por sus hijos.

  @include responsiveDesign(500) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 9rem;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 3.5rem;
  margin-left: 2rem;

  font-size: 1.7rem;
  text-decoration: none;
  color: black;

  & .logo {
    height: 100%;
    margin-right: 1rem;
  }
}

.userNav {
  display: flex;
  justify-content: center;
  align-items: stretch;

  & .userNav_iconBox {
    display: flex;
    align-items: center;

    padding: 0rem 2rem;
    cursor: pointer;
    position: relative; // Necesario para el "position: absolute" del contador ("&__counter").

    &:last-of-type {
      padding: 0rem 2rem 0 0;
      margin-left: 2rem;
    }

    &:hover {
      background-color: $LH_color-grey-light-3;
    }

    & .userNav_icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: $LH_color-grey-dark-2;
    }

    & .userNav_icon_counter {
      position: absolute;
      top: 0rem;
      right: 1.2rem;

      font-size: 0.8rem;
      color: #fff;

      height: 1.6rem; // Para hacer el círculo se debe establecer la altura y anchura mediante "height" y
      width: 1.6rem; // "width". Hacerlo con "padding" deforma el contenido en base al tamaño de su contenido.
      border-radius: 50%;
      background-color: $LH_color-primary;

      display: flex; // Se utiliza flexbox en el <span> de los contadores para alinear su contenido en el centro.
      align-items: center;
      justify-content: center;

      @include responsiveDesign(500) {
        top: 1.6rem;
      }
    }

    & .userNav_name {
      margin-left: 0.8rem;
    }
  }
}
