@import '../../sass/abstracts/variables.scss';
@import '../../sass/abstracts/mixins.scss';

.FiltersBar {
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    width: 24rem;
    //height: 105%;
    height: 100vh;

    background-color: #000048;

    z-index: 2;

    transition: all .5s ease-out;

    @include responsiveDesign(1280) {
        position: fixed;
        left: 0;
    }
}

.FiltersBar_Title {
    font-size: 2.8rem;
    letter-spacing: .24rem;
    color: $color-pale-grey;

    border-bottom: .08rem solid $color-intense-grey;

    // align-self: center;
    text-align: center;

    padding: 1.6rem;
}

.FiltersBar_List {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    height: calc(100vh - 10.5rem - 10rem) ; // 100% height - .FiltersBar_Title - NavBarBottom (approx. measurement);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 2.4rem;
        //background-color: red;
    }

    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        //background-color: purple;
    }

    // &::-webkit-scrollbar-track-piece {
    //     background-color: red;
    // }

    &::-webkit-scrollbar-thumb {
        border-radius: 2.4rem;
        border: .4rem solid #000048;
        width: .4rem;
        background-color: darkgrey;
        //outline: .08rem solid slategrey;
      }

    // &::-webkit-scrollbar-button {
    //     height: 3rem;
    // }

    

    // &::-webkit-scrollbar-corner {
    //     background-color: red;
    //     border-radius: 1rem;
    // }
}


//////////////////////////////////
// ACTIVATION FILTERS PANEL BUTTON (for screens < 1280px)

.FiltersPanelCheckbox {
    display: none;

    &:checked ~ .FiltersBar {
        width: 0rem;
        transform: translateX(-100%);
        //margin-right: 1.6rem;

        & *:not(.FiltersPanelButton) {
            //width: 0rem;
            transform: translateX(-100%);
            //opacity: 0;
            //display: none;
            //visibility: hidden;
        }

        & .FiltersPanelButton::after {
            // content: '>>';
            content: 'FILTERS';
            display: block;
            writing-mode: vertical-rl;
            text-orientation: upright;

            // @include responsiveDesign(800) {
            //     content: 'TOPIC';
            //     writing-mode: vertical-rl;
            //     text-orientation: upright;
            // }
        }
    }

    &:checked ~ .blackSail {
        //display: none;
    }
}


.FiltersPanelButton {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    // right: -2.8rem;
    right: -3.3rem;
    cursor: pointer;
    padding: .8rem;
    font-size: 1.6rem;
    color: white;
    background-color: red;
    border-radius: 0 1rem 1rem 0;
    z-index: 2;

    @include responsiveDesign(1280) {
        display: block;
    }

    &::after {
        // content: '<<';
        content: 'FILTERS';
        display: block;
        writing-mode: vertical-rl;
        text-orientation: upright;
        transition: all .5s ease-out;

        @include responsiveDesign(800) {
            content: 'FILTERS';
            display: block;
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    }
}

.blackSail {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}