.InputThumbnailImageContainer {
  display: none;
}

.LabelThumbnailImageContainer {
  //height: 70%;
  border-radius: 0.08rem;

  display: block;
  margin: 1rem 3rem;
}

.ThumbnailImageContainer {
  // Proportion of the main image (the one shown on the slider) tries to be 16:9.
  // Thumbnail images should keep that same proportion.
  height: 5.625rem;
  width: 10rem;
  cursor: pointer;
}

.ThumbnailImageContainer_Image {
  height: 100%;
  width: 100%;

  border-radius: 0;
}

.activeThumbnail {
  box-shadow: 0 0 0 0.8rem green;
}

.inactiveThumbnail {
  border-radius: 0.5rem;
}
