.InputThumbnailImageContainer {
  display: none;
}

.LabelThumbnailImageContainer {
  height: 70%;
  //margin-bottom: .8rem;
  border-radius: 0.08rem;

  display: block;
  margin: 1rem 3rem;
}

.ThumbnailImageContainer {
  // Las proporciones de la imagen principal (la mostrada en el slider) son de 100% de ancho 80% de alto.
  // En las imágenes del thumbnail se busca crear la misma proporción.
  height: 100%;
  width: 6rem;
  //background-color: white;
  cursor: pointer;
}

.ThumbnailImageContainer_Image {
  height: 100%;
  width: 100%;

  border-radius: 0.5rem;
}
