@import "@/sass/abstracts/variables.scss";
@import "@/sass/abstracts/mixins.scss";

.positionMainElements {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Container {
  display: flex;

  @include responsiveDesign(800) {
    flex-direction: column;
  }
}

// LEFT SIDE
.FormContainer {
  width: 50%;
  height: 100vh;
  padding: 2.8rem 4rem 15rem 4rem;
  background-color: #000033;

  display: grid;
  align-content: center;

  @include responsiveDesign(800) {
    width: 100%;
    height: auto;
    padding: 6rem;
  }
}

.formInnerContainer,
.otherContactMeansInnerContainer {
  @include responsiveDesignMobileFirst(1400) {
    width: 60rem;
    margin: auto;
  }
}

// RIGHT SIDE
.OtherContactMeansContainer {
  width: 50%;
  padding: 4rem 4rem 15rem;
  background-color: #333366;

  display: grid;
  align-content: center;

  @include responsiveDesign(800) {
    width: 100%;
    padding: 6rem 6rem 14rem 6rem;
  }

  @include responsiveDesign(400) {
    width: 100%;
  }
}

.OtherContactMeansContainer h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: $color-pale-grey;
  margin-bottom: 1.6rem;

  @include responsiveDesign(800) {
    font-size: 4rem;
  }
}

.OtherContactMeansContainer h3 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: $color-pale-grey;
  margin-bottom: 1.6rem;

  @include responsiveDesign(800) {
    font-size: 2.5rem;
  }
}

.OtherContactMeansContainer ul {
  padding: 2rem 0;
  margin-left: 5%;
}

.contactListElement {
  list-style: none;
  margin-bottom: 2rem;

  & a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: $color-pale-grey;
    letter-spacing: 0.2rem;

    display: inline-flex;
    align-items: center;

    & svg {
      margin-right: 1.6rem;
    }
  }
}

.bottomParagraph {
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-pale-grey;
  text-align: justify;
  letter-spacing: 0.2rem;
  line-height: 2.55rem;

  @include responsiveDesign(800) {
    font-size: 2rem;
  }
}

.preLogoSpan {
  width: 0.2rem;
  height: 100%;
  transform: scaleY(0);
  position: relative;
  z-index: 1;
  transition: transform 0.2s;
}

.contactListElement:hover .preLogoSpan {
  transform: scaleY(1);
  background-color: lime;
}

.contactLink {
  fill: $color-pale-grey;
  position: relative;
  padding: 1rem;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-color: black;
    width: 0.2rem;
    height: 100%;
    transform: scaleY(0);

    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; // Atención al transition delay de ".2s", para que el inicio del "transition: width" coincida con el final de la ejecución de "transition: transform .2s".
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
    animation: lime-line-background 0.2s linear forwards;
  }

  &:active::before {
    background-color: $color-intense-grey;
  }
}

.logo {
  animation: tilt-shaking 1s linear infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes lime-line-background {
  0% {
    background: linear-gradient(to right, lime, black 99%);
  }
  99% {
    background: linear-gradient(to right, lime, black 50%);
  }
  100% {
    background: linear-gradient(to right, lime, black 3%);
  }
}
