@import '../../../../sass/abstracts/mixins.scss';
@import '../../../../sass/abstracts/variables.scss';

.footer {
  background-color: $TP_color-grey-dark-4;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $TP_color-pale-grey;

  @include responsiveDesign(800) {
    padding: 8rem 0;
  }
}

.logoBox {
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include responsiveDesign(800) {
    margin-bottom: 6rem;
  }

  & .logo {
    width: 15rem;
    height: auto;
  }

  & .isotype {
    fill: black;
    // stroke: white;
    // stroke-width: 0.7;
    height: 10rem;

    margin-bottom: 1rem;
  }

  & .logotype {
    fill: black;
    // stroke: white;
    // stroke-width: 0.25;
    height: 6rem;
  }
}

.blocksContainer {
  display: flex;
  justify-content: space-around;

  @include responsiveDesign(800) {
    flex-direction: column;
    align-items: center;
  }
}

.list {
  list-style: none;
  font-size: 1rem;

  & .listItem {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    @include responsiveDesign(800) {
      font-size: 2.5rem;
      line-height: 4rem;
    }
  }
}

.navBlock {
  display: inline-block;
  text-align: center;

  @include responsiveDesign(800) {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
}

.copyrightBlock {
  text-align: center;
}

.copyright {
  color: $TP_color-pale-grey-2;
  font-size: 1.3rem;
  line-height: 2.5rem;

  @include responsiveDesign(800) {
    width: 100%;

    font-size: inherit;
  }

  @include responsiveDesign(500) {
    width: 100%;

    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
