@import "@/sass/abstracts/variables.scss";
@import "@/sass/abstracts/mixins.scss";

.FiltersBar {
  position: absolute;
  left: 0;
  transform: translateX(-100%);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  width: 20rem;
  height: 100vh;

  background-color: #000048;

  z-index: 4;

  transition: $default-transition, z-index 0.5s 0.5s;

  @include responsiveDesign(500) {
    width: 24rem;
  }
}

.FiltersBar_Title {
  font-size: 2rem;
  letter-spacing: 0.24rem;
  color: $color-pale-grey;

  border-bottom: 0.08rem solid $color-intense-grey;

  text-align: center;

  padding: 1.6rem;

  @include responsiveDesign(500) {
    font-size: 2.5rem;
  }
}

.FiltersBar_List {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  height: calc(
    100vh - 10.5rem - 10rem
  ); // 100% height - .FiltersBar_Title - NavBarBottom (approx. measurement);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 2.4rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2.4rem;
    border: 0.4rem solid #000048;
    width: 0.4rem;
    background-color: darkgrey;
  }
}

.showFiltersBar {
  transform: translateX(0%);
}

//////////////////////////////////
// ACTIVATION FILTERS PANEL BUTTON (for screens < 1280px)

.FiltersPanelButton {
  background-color: red;
  border-radius: 0 1rem 1rem 0;
  color: white;
  cursor: pointer;
  display: block;
  font-family: $titles-fonts;
  font-size: 1.6rem;
  padding: 0.8rem;
  position: absolute;
  right: -3.3rem;
  text-orientation: upright;
  top: 50%;
  transform: translateY(-70%);
  writing-mode: vertical-rl;
  z-index: 2;
}
