.deleteToolModalQuestion {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.deleteToolModalList {
  margin-bottom: 2rem;
}

.deleteToolModalListElement {
  margin-bottom: 1rem;
  list-style: none;
  font-size: 1.7rem;
}

.deleteToolModalListElementTitle {
  text-decoration: underline;
  font-size: 2rem;
}
