@import '../../../../sass/abstracts/mixins.scss';
@import '../../../../sass/abstracts/variables.scss';

.NavBarTopButton {
  font-size: 3rem;
  color: $color-intense-grey;
  text-decoration: none;

  //padding: .8rem 1.6rem 1.6rem 1.6rem;
  padding: 1rem 2.5rem;
  margin-top: 0.8rem;

  white-space: nowrap;
  display: flex;
  align-items: center;

  @include responsiveDesign(1024) {
    font-size: 4vw;
    padding: 2rem 3.5rem;
  }
}

.Active {
  color: white;
  background-color: $active-top-navbar;
  border-radius: 2rem;
}
