@import '../../../../sass/abstracts/mixins.scss';
@import '../../../../sass/abstracts/variables.scss';

.NavBarTopButton {
    font-size: 4rem;
    color: $color-intense-grey;
    text-decoration: none;

    //padding: .8rem 1.6rem 1.6rem 1.6rem;
    padding: 1.2rem 3rem;
    margin-top: .8rem;

    white-space: nowrap;
    display: flex;
    align-items: center;

    @include responsiveDesign(800) {
        font-size: 4.5vw;
      }
}

.Active {
    color: white;
    background-color: $active-top-navbar;
    border-radius: 2rem;
}