@import "@/sass/abstracts/mixins.scss";

.wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.anchor {
  text-decoration: none;

  &:active {
    color: initial;
  }
}

.childrenWrapper > * {
  padding: 2rem 0 0 5rem;
}

.isSubLevel > *::before {
  content: "";
  height: 7rem;
  position: absolute;
  top: -3.2rem;
  left: 2rem;
  width: 3.2rem;
  border: 0.2rem solid #000;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  z-index: 0;

  @include responsiveDesign(1024) {
    top: -2.5rem;
  }
}

.isSubLevelWithChild {
  > *::after {
    content: "";
    height: 100%;
    position: absolute;
    left: 2rem;
    width: 3.2rem;
    border: 0.2rem solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    z-index: 0;
    //transform: scaleY(-1) translateY(-95%); La altura tiene que ser dinámica dependiendo de la cantidad de elementos que englobe "entre medias" (isSubLevelWithChild).
    transform: scaleY(-1) translateY(-49%);
  }
}

.Container {
  display: flex;
  align-items: center;
  min-width: 30rem;
  font-size: 1.2rem;
  border-radius: 2.4rem;
  cursor: pointer;
  transition: all 0.2s ease-out;

  @include responsiveDesign(1024) {
    font-size: 2rem;
  }
}

.Container:hover {
  box-shadow: 0 0 0.8rem 0.8rem white;
}

.TechTag {
  padding: 0.6rem 1.5rem;
  background-color: red;
  font-weight: bold;
  color: white;
  letter-spacing: 0.16rem;
  white-space: nowrap;

  border: 0.32rem solid red;
  border-right: none;
  border-left: none;
  border-top-left-radius: 2.4rem;
  border-bottom-left-radius: 2.4rem;

  z-index: 1;

  @include responsiveDesign(1024) {
    padding: 1rem 3rem;
  }
}

.ProgressBarContainer {
  position: relative;
  width: 100%;
  padding: 0.6rem 0rem;
  text-align: center;
  background-color: white;

  border: 0.32rem solid red;
  border-left: none;
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;

  @include responsiveDesign(1024) {
    padding: 1rem 0rem;
  }
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.PercentageQuantity {
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.TechTagBlue {
  background-color: blue;
}

.TechTagOrange {
  background-color: orange;
}

.TechTagBlue,
.ProgressBarContainerBlue {
  border-color: blue;
}

.TechTagOrange,
.ProgressBarContainerOrange {
  border-color: orange;
}
