@import "@/sass/abstracts/variables.scss";
@import "@/sass/abstracts/mixins.scss";

.positionMainElements {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainContainer {
  height: 100%;
  display: grid;
  grid-template: 30vh 30vh / 1fr 1fr;
  grid-gap: 2rem 2rem;
  align-content: center;
  padding: 0 2rem;

  flex: 1;

  @include responsiveDesign(1024) {
    display: flex;
    flex-direction: column;
  }
}

.HTMLSkillsBlock {
  grid-area: 1 / 1 / 2 / 2;
}

.CSSSkillsBlock {
  grid-area: 2 / 1 / 3 / 2;
}

.JavaScriptSkillsBlock {
  grid-area: 1 / 2 / 3 / 3;
}
