@import "@/sass/abstracts/variables.scss";
@import "@/sass/abstracts/mixins.scss";

// For some reason the colors have to stay in this file, otherwise they won't overwrite SkillBar component colors.

.wrapper {
  height: 100%;
  max-width: 140rem;
  margin: auto;

  @include responsiveDesign(1024) {
    margin: 12rem 0;
    height: auto;
  }
}
