@import '../../sass/abstracts/variables.scss';
@import '../../sass/abstracts/mixins.scss';

// For some reason the colors have to stay in this file, otherwise they won't overwrite SkillBar component colors.

////////////////////////
// FRONTEND SKILLS

// HTML Block
.HTMLSkillsBlock {
  background-color: rgba(255, 0, 0, 0.5);
  grid-area: 1 / 1 / 2 / 2;

  & .listElement span {
    background-color: red;
    border-color: red;

    & + div {
      border-color: red;
    }
  }
}

// CSS Block
.CSSSkillsBlock {
  background-color: rgba(0, 255, 0, 0.5);
  grid-area: 2 / 1 / 3 / 2;

  & .listElement span {
    background-color: blue !important;
    border-color: blue !important;

    & + div {
      border-color: blue !important;
    }
  }
}

// JS Block
.JavaScriptSkillsBlock {
  background-color: rgba(255, 255, 0, 0.5);
  grid-area: 1 / 2 / 3 / 3;

  & .listElement span {
    background-color: orange;
    border-color: orange;

    & + div {
      border-color: orange;
    }
  }
}

////////////////////////
// BACKEND SKILLS

// SQL Block
.SQLSkillsBlock {
  background-color: rgba(230, 142, 0, 0.5);
  grid-area: 1 / 1 / 2 / 2;

  & .listElement span {
    background-color: rgb(230, 142, 0);
    border-color: rgb(230, 142, 0);

    & + div {
      border-color: rgb(230, 142, 0);
    }
  }
}

// NoSQL Block
.NoSQLSkillsBlock {
  background-color: rgba(84, 123, 157, 0.5);
  grid-area: 1 / 2 / 2 / 3;

  & .listElement span {
    background-color: rgb(84, 123, 157);
    border-color: rgb(84, 123, 157);

    & + div {
      border-color: rgb(84, 123, 157);
    }
  }
}

////////////////////////////////////
// TREE OF ELEMENTS
// Credits: https://stackoverflow.com/questions/14423671/best-method-for-displaying-a-tree-list-using-css-only-no-images-or-js-example
.unorderedList {
  list-style-type: none;
  position: relative;
  margin-left: 3rem;
}

.unorderedList .unorderedList .unorderedList {
  margin-left: 6rem;
}

.mainUnorderedList {
  width: 100%;
  margin-left: 0rem;
}

.listElement {
  list-style-type: none;
  border-left: 0.2rem solid #000;
}

.listElementContainer {
  padding-left: 3rem;
  position: relative;
  padding-top: 2rem;

  @include responsiveDesign(600) {
    padding-top: 4rem;
  }

  @include responsiveDesign(400) {
    padding-top: 6rem;
  }
}

.listElementContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.2rem;
  bottom: 32%;
  width: 3.2rem;
  border: 0.2rem solid #000;
  border-top: 0 none transparent;
  border-right: 0 none transparent;

  @include responsiveDesign(1024) {
    bottom: 34%;
  }

  @include responsiveDesign(600) {
    bottom: 28%;
  }

  @include responsiveDesign(400) {
    bottom: 23%;
  }
}

.firstListElement {
  border-left: 0.2rem solid transparent;
  margin-left: 0rem;
}

.firstListElementContainer {
  padding-top: 0rem;
  padding-left: 0rem;
}

.firstListElementContainer::before {
  display: none;
}

.listElement .unorderedList > .listElement:last-child {
  border-left: 0.2rem solid transparent;
}
