@import "@/sass/abstracts/variables.scss";
@import "@/sass/abstracts/mixins.scss";

.SupraMainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MainContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.SlideAndButtonsContainer {
  display: flex;
  justify-content: space-evenly;
  height: 70%;
  padding-bottom: 2rem;
  overflow: hidden;
}

.NoFiltersContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 9.5rem);
  justify-content: center;
}

.NextToFiltersContainer_TopNavBar {
  display: flex;
  justify-content: space-evenly;
}

.activateLabelStyle {
  box-shadow: 0 0 0 0.8rem green;
}

.nonActiveThumbnailImage {
  border-radius: 0rem !important;
}
