@import "@/sass/abstracts/variables.scss";

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  font-size: 2rem;
  font-family: $texts-fonts;

  min-width: 35%;
  max-width: 70%;

  max-height: 90vh;
  overflow: auto;

  border-radius: 1rem;

  z-index: 4;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.containerIsShown {
  opacity: 1;
  visibility: visible;
}

.title {
  background-color: $color-intense-blue;
  border-radius: 1rem 1rem 0 0;
  color: white;
  font-family: $titles-fonts;
  padding: 1rem 2rem;
}

.mainContent {
  padding: 2rem;
}

.bottomButtonsContainer {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;

  border-radius: 0 0 1rem 1rem;
  border-top: 1px solid $color-intense-grey;

  background-color: $color-pale-grey;
}

.backendResponse {
  border-radius: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.backendResponseError,
.backendResponseSuccess {
  padding: 0.5rem;
}

.backendResponseError {
  color: red;
  background-image: radial-gradient($color-pale-red, white);
}

.backendResponseSuccess {
  color: green;
  background-image: radial-gradient($color-pale-green, white);
}
