@import "@/sass/abstracts/variables.scss";
@import "@/sass/abstracts/mixins.scss";

.mainContainer {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 60rem);
  justify-content: center;

  padding: 5rem 2rem 10rem;

  @include responsiveDesign(1280) {
    grid-template-columns: auto auto;
  }

  @include responsiveDesign(800) {
    grid-template-columns: auto;
  }
}

.noToolsTitle {
  position: relative;
  top: 35vh;
  margin: auto;
  color: white;
}

.menuButtonContainer {
  position: relative;
  font-family: $texts-fonts;
}

//////////////////////////////////////////////////
/// ADD TAG - UPDATE TAG - DELETE TAG FORMS
.smallFormInnerContainer {
  display: flex;
  justify-content: space-evenly;
}

.smallFormInnerContainer,
.smallFormInnerContainerVertical {
  align-items: center;
  gap: 2rem;
  margin: 0 1rem;
  min-width: 50rem;

  & .smallFormInnerContainerSection {
    flex: 1 1 auto;
  }
}

.addIconFormInputsWrapper,
.updateIconFormInputsWrapper {
  display: flex;
  flex-direction: column;
}

.iconsSelectorAndImagesContainer {
  display: flex;
  flex-direction: column;
}

.iconsContainer {
  display: flex;
  justify-content: space-evenly;
}

.iconWrapper {
  text-align: center;
}

.iconTitle {
  color: $color-intense-grey;
  font-family: $titles-fonts;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.iconConfirmDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.deleteTagQuestion {
  display: flex;
  gap: 0.5rem;
}

.deleteUserQuestion {
  text-align: center;
  margin-bottom: 1rem;

  & .userEmail {
    text-decoration: underline;
  }
}

//////////////////////////////////////////////////
/// EXPIRED TOKEN
.expiredTokenMessage {
  background-image: radial-gradient($color-pale-red, white);
  color: red;
  padding: 0.5rem;
  text-align: center;
}
