@import "../../sass/abstracts/variables.scss";

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;

  padding: 5rem 2rem 10rem;

  min-height: 100%;
}

.buttonsContainer {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;

  padding: 0 2rem;
  width: 100%;

  & .managementButton {
    padding: 0.5rem;
    cursor: pointer;
  }

  & .adminManagementButtons,
  & .userManagementButtons {
    display: flex;
    gap: 1rem;
  }
}

.noToolsTitle {
  position: relative;
  top: 35vh;
  margin: auto;
  color: white;
}

.menuButtonContainer {
  position: relative;
  font-family: $texts-fonts;
}
