.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;

  padding: 7rem 1rem 10rem;

  min-height: 100%;
}

.buttonsContainer {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  gap: 2rem;

  padding-right: 1rem;

  & .logInButton,
  .signUpButton {
    padding: 0;

    & label {
      display: block;
      padding: 0.5rem;
    }
  }
}

.noToolsTitle {
  position: relative;
  top: 35vh;
  margin: auto;
  color: white;
}
