@import '../../../../../../sass/abstracts/variables.scss';
@import '../../../../../../sass/abstracts/mixins.scss';

.emptyGavel {
  fill: white;
  stroke: $LH_color-primary;
  stroke-width: 2;

  height: 1.5rem;
  width: 1.5rem;

  @include responsiveDesign(500) {
    height: 2rem;
    width: 2rem;
  }
}
