@import '../../../sass/abstracts/variables.scss';
@import '../../../sass/abstracts/mixins.scss';

.positionMainElements {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainContainer {
  height: 100%;
  display: grid;
  grid-template: 50vh / 1fr 1fr;
  grid-gap: 2rem 2rem;
  align-content: center;
  padding: 0 2rem;

  flex: 1;

  @include responsiveDesign(1024) {
    display: flex;
    flex-direction: column;
  }
}
