.deleteResourceModalQuestion {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.deleteResourceModalList {
  margin-bottom: 2rem;
}

.deleteResourceModalListElement {
  margin-bottom: 1rem;
  list-style: none;
  font-size: 1.7rem;
}

.deleteResourceModalListElementTitle {
  text-decoration: underline;
  font-size: 2rem;
}
