@import '../../../../../../../sass/abstracts/variables.scss';

.listItem {
  flex: 0 0 50%;
  padding: 0.5rem 0rem;
  list-style: none;

  font-size: 1.4rem;

  display: flex;
  align-items: center;

  // &::before {
  //     display: inline-block; // ¡Importante para que el icono no quede oculto!

  //     content: "";
  //     height: 2rem;
  //     width: 2rem;
  //     background-color: $LH_color-primary;

  //     // background-image: url(../img/SVG/chevron-small-right.svg); // Adaptación con @media para navegadores antiguos que no reconozcan las "CSS Masks".
  //     // background-size: cover;

  //     -webkit-mask-image: url(../img/SVG/chevron-small-right.svg); // CSS Mask; funciona parecido a la propiedad "background-clip".
  //     -webkit-mask-size: cover;
  //     mask-image: url(../img/SVG/chevron-small-right.svg);
  //     mask-size: cover;
  // }

  & .checkmarkIcon {
    fill: $LH_color-primary;
    height: 2rem;
    margin-right: 0.5rem;
  }
}
