@import '../../../sass/abstracts/mixins.scss';

.Container {
    position: relative;
    width: 100%;
    height: calc(100vh - 13rem);
    background-color: white;
    padding: 3rem 4rem;
    overflow: auto;
    font-size: 2.4rem;
    border-radius: .8rem;

    margin: 1rem 0rem 13rem 0rem;
    text-align: justify;

    @include responsiveDesign(600) {
        text-align: start;
    }


    &::-webkit-scrollbar {
        width: 2.4rem;
        //background-color: red;
    }

    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 0 .55rem .55rem 0;
        background-color: purple;
    }

    // &::-webkit-scrollbar-track-piece {
    //     background-color: red;
    // }

    &::-webkit-scrollbar-thumb {
        border-radius: 0 2.4rem 2.4rem 0;
        border: .4rem solid purple;
        width: .4rem;
        background-color: darkgrey;
        //outline: 1px solid slategrey;
      }

    // &::-webkit-scrollbar-button {
    //     height: 3rem;
    // }

    

    // &::-webkit-scrollbar-corner {
    //     background-color: red;
    //     border-radius: 1rem;
    // }
}