@import '../../../../../sass/abstracts/mixins.scss';

.container {
  position: absolute;
  left: 3rem;
  top: 3rem;
}

.logo {
  height: 5.5rem;
  fill: black;

  @include responsiveDesign(800) {
    height: 7rem;
  }
}
