@import '../../../../../sass/abstracts/mixins.scss';

.container {
  border-top: 0.1rem solid #777;
  padding-top: 2rem;
  max-width: calc((100% - 40rem) / 2);

  display: flex;
  justify-content: center;

  @include responsiveDesign(800) {
    max-width: 80%;
    font-size: 2rem;
  }
}
