@import '../../../../sass/abstracts/variables.scss';
@import '../../../../sass/abstracts/mixins.scss';

.nav {
  & .navCheckbox {
    display: none;

    &:checked + .navButton .navIcon {
      background-color: transparent;
    }

    &:checked + .navButton .navIcon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &:checked + .navButton .navIcon::after {
      top: 0;
      transform: rotate(-135deg);
    }

    &:checked ~ .navBackground {
      transform: scale(80);
    }

    &:checked ~ .navNav {
      opacity: 1;
      width: 100%;
      z-index: 2;
    }
  }

  & .navButton {
    background-color: white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    border-radius: 50%;
    z-index: 3;
    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    text-align: center;
    cursor: pointer;

    @include responsiveDesign(800) {
      top: 4.5rem;
      right: 4.5rem;

      height: 7.5rem;
      width: 7.5rem;
    }

    @include responsiveDesign(400) {
      height: 10rem;
      width: 10rem;
    }

    &:hover .navIcon::before {
      top: -1.1rem;

      @include responsiveDesign(800) {
        top: -1.4rem;
      }

      @include responsiveDesign(400) {
        top: -1.7rem;
      }
    }

    &:hover .navIcon::after {
      top: 1.1rem;

      @include responsiveDesign(800) {
        top: 1.4rem;
      }

      @include responsiveDesign(400) {
        top: 1.7rem;
      }
    }

    & .navIcon {
      position: relative;
      margin-top: 2.5rem;

      @include responsiveDesign(800) {
        margin-top: 3.7rem;
      }

      @include responsiveDesign(400) {
        margin-top: 5.2rem;
      }

      &,
      &::before,
      &::after {
        width: 2.5rem;
        height: 0.2rem;
        background-color: $TP_color-grey-dark-3;
        display: inline-block;

        @include responsiveDesign(800) {
          width: 3.5rem;
        }

        @include responsiveDesign(400) {
          width: 5.5rem;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.71rem;

        @include responsiveDesign(800) {
          top: -1.2rem;
        }

        @include responsiveDesign(400) {
          top: -1.4rem;
        }
      }
      &::after {
        top: 0.71rem;

        @include responsiveDesign(800) {
          top: 1.2rem;
        }

        @include responsiveDesign(400) {
          top: 1.4rem;
        }
      }
    }
  }

  & .navBackground {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 5rem;
    right: 5rem;
    background-image: radial-gradient(
      $TP_color-primary-light,
      $TP_color-primary-dark
    );
    z-index: 2;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include responsiveDesign(800) {
      top: 4.5rem;
      right: 4.5rem;

      height: 7.5rem;
      width: 7.5rem;
    }

    @include responsiveDesign(400) {
      height: 10rem;
      width: 10rem;
    }
  }

  & .navNav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    & .navList {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
    }
  }
}
