@import '../../../../sass/abstracts/mixins.scss';
@import '../../../../sass/abstracts/variables.scss';

.LeftPanelCheckbox {
  display: none;

  &:checked ~ .Container {
    //width: 0rem;
    transform: translateX(-100%);
    margin-right: 1.6rem;

    & *:not(.LeftPanelButton) {
      //width: 0rem;
      transform: translateX(-550%);
      opacity: 0;
    }

    & .LeftPanelButton::after {
      content: 'RULES';
      display: block;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }

  &:checked ~ .blackSail {
    display: none;
  }
}

.LeftPanelButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.3rem;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1.6rem;
  color: white;
  background-color: red;
  border-radius: 0 1rem 1rem 0;

  &::after {
    content: 'RULES';
    display: block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition: all 0.5s ease-out;

    @include responsiveDesign(800) {
      content: 'RULES';
      display: block;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
}

.Container {
  position: fixed;
  top: 0;
  background-image: linear-gradient(
    to left,
    transparent 0%,
    $BG_rules-sidebar-background 2%
  );
  height: 100vh;
  width: 20%;
  padding: 0.8rem;
  margin-right: 3.2rem;
  z-index: 3;

  transition: all 0.5s ease-out;

  & * {
    transition: all 0.5s ease-out;
  }

  @include responsiveDesign(800) {
    width: 35%;
    position: fixed;
  }
}

.TitleContainer {
  border-bottom: 0.08rem solid $BG_text;
  text-align: center;
  padding: 0 2.4rem;
}

.Title {
  font-family: $titles-fonts;
  font-size: 2.5rem;
  letter-spacing: 0.24rem;
  color: $BG_text;
  padding: 0.8rem 0 1.5rem 0;

  @include responsiveDesign(800) {
    font-size: 4.5rem;
  }

  @include responsiveDesign(800) {
    font-size: 3.9rem;
  }
}

.Text {
  font-size: 1.5rem;
  text-align: justify;
  margin: 0 1.5rem;
  font-family: $texts-fonts;
  color: $BG_text;

  @include responsiveDesign(800) {
    font-size: 2.5rem;
  }

  &:not(:last-of-type) {
    margin: 1rem 1.5rem;
    padding-top: 1rem;
  }
}

////////////////////////
// BLACKSAIL

.blackSail {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}
